.hotel-booking-form__row {
    clear: both;
    width: 100%;
}
.hotel-booking-form__column {
    padding: 5px 10px;
    width: 50%;
    float: left;
}
.hotel-booking-form__column label {
    display: block;
}
.hotel-booking-form input[type=submit]:disabled {
    cursor: not-allowed;
}
