.hotel-booking-form {
    overflow: auto;
}
.hotel-booking-form__row {
    overflow: auto;
    width: 100%;
}
.hotel-booking-form__column {
    width: 50%;
    float: left;
}
.hotel-booking-form__column .hotel-booking-form__column-inner {
    padding: 5px 10px;
}
.hotel-booking-form__column label {
    display: block;
}
.hotel-booking-form input[type=submit]:disabled {
    cursor: not-allowed;
}
.hotel-booking-form__column-treatment,
.hotel-booking-form__column-room,
.hotel-booking-form__column-message,
.hotel-booking-form__column-privacy,
.hotel-booking-form__column-button_label,
.hotel-booking-form__input-message {
    width: 100%;
}
